[access "refs/*"]
        owner = group android_device_google_marlin
	exclusiveGroupPermissions = forgeAuthor forgeCommitter forgeServerAsCommitter pushMerge
	forgeAuthor = group android_device_google_marlin
	forgeCommitter = group android_device_google_marlin
	forgeServerAsCommitter = group android_device_google_marlin
	pushMerge = group android_device_google_marlin
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
